
            <label for="name" class="form-label">Product Name</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Product Name" aria-label="Username" aria-describedby="basic-addon1" id="name"  name="name">
                  </div>              
                <label for="Weight" class="form-label">Product Weight</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@Kg</span>
                    <input type="number" class="form-control" placeholder="Weight" aria-label="Username" aria-describedby="basic-addon1" id="Weight" name="weight" min="1">
                  </div>              
                <label for="cost" class="form-label">Cost PRice</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="Cost Price" aria-label="Username" aria-describedby="basic-addon1" id="cost" name="costPrice">
                  </div>              
                <label for="sell" class="form-label">Sell Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="Sell  Price" aria-label="Username" aria-describedby="basic-addon1" id="sell" name="salePrice">
                  </div> 
                  <a href="/products" class="btn btn-danger">Cancel</a>  
                 <button type="submit" class="btn btn-success">Create</button>
    