<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our POS</title>
    <%- include('../partials/bootstrap.ejs') %>
    <%- include('../partials/fontawesome.ejs') %>
    <link rel="stylesheet" href="/main.css">
    <script src="/scripts/validate.js" defer></script>
    <script src="/scripts/filterableproducts.js" defer></script>
</head>
<body>
    <%- body %>
</body>
</html>