<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./partials/bootstrap.ejs') %>
    <script src="/scripts/auth.js" defer></script>
    <link rel="stylesheet" href="/sharedcss/login.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="mb-2">
                <% if (locals.messages) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Warning</strong> <%= messages.error %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
               <% } %>
            </div>
            <form action="/login" class=" d-flex justify-content-center align-items-center loginform flex-column" method="POST" id="login-form">
            <h2 class="text-center">Login</h2>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="email" aria-label="email" name="email" aria-describedby="basic-addon1" id="login-email">
              </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id="login-password" name="password">
              </div>
              <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
    
</body>
</html>