<%- include('../partials/header.ejs'); %>
<div class="container-fluid">
    <div class="container">
        <div class="container mt-3">
            <div class="row align-items-start">
              <div class="col">
              <span><i class="fas fa-box 5x"></i></span> Add New Product
              </div>
              </div>
              <div class="col">
               <a href="/products/" class="btn btn-primary float-right">Back</a>
              </div>
            </div>
            <form action="/products/create" method="POST" class="mt-5">
                <% if(locals.errors) { %>
                    <% errors.forEach((error) => { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Warning</strong> <%= error.msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                   <% })%>
                <%  } %>
                <%- include('../partials/product-form-fields.ejs') %>
            </form>  
    </div>
    
</div>
